

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}


/* ================================================ HEADER */
header {
    height: 8rem;
    width: 100%;
    background-color: blueviolet;
}



/* ================================================ MAIN - CHAT */
main {
    width: 80%;
    flex-grow: 1;
    border: 2px solid crimson;
    margin: 0 auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

main #chat-area {
    width: 100%;
    flex-grow: 1;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
    overflow-y: scroll;
}

#chat-area .query {
    /* display: block; */
    /* width: 60%; */
    width: fit-content;
    max-width: 55%;
    text-wrap: wrap;
    height: fit-content;
    padding: 1rem;
    background-color: aquamarine;
    align-self: flex-end;
    border-radius: 1rem;
}

#chat-area .reply {
    width: fit-content;
    max-width: 85%;
    text-wrap: wrap;
    height: fit-content;
    /* background-color: chartreuse; */
    align-self: flex-start;
    display: flex;
    /* align-items: flex-start; */
    gap: 1rem;
    /* padding: 0.5rem 0; */
}

#chat-area .reply .profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: crimson;
}

#chat-area .reply .message {
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: coral;
    border-radius: 1rem;
}



/* ================================================ MAIN - INPUT */
main #input-area form {
    width: 100%;
    height: 4rem;
    background-color: darkorchid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#input-area .input-box {
    display: flex;
    /* width: 95%; */
    flex-grow: 0.95;
    background-color: aqua;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
}

#input-area .input-box .input-field {
    width: 95%;
    height: 3rem;
    /* background-color: crimson; */
    padding-left: 1rem;
}

#input-area .input-box .input-field input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
}

#input-area .clear-btn-div {
    width: 4rem;
}


.circle-btn {
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    align-items: center;
    background-color: chocolate;
}


/* ================================================ MAIN - SUGGEST BLOCKS */
main #suggest-blocks.hidden,
main #chat-area.hidden {
    display: none;
}

main #suggest-blocks {
    border: 2px solid blue;
    position: absolute;
    width: 100%;
    height: calc(100% - 4rem);
    /* display: inline-block; */
    z-index: 100;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 5rem;
}

#suggest-blocks .title {
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

#suggest-blocks .cards {
    width: 100%;
    /* background-color: darksalmon; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
}

#suggest-blocks .cards .card {
    height: 12rem;
    padding: 2rem;
    background-color: cadetblue;
    border-radius: 1rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#suggest-blocks .cards .card .icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
}

/* ================================================ FOOTER */
footer {
    height: 2rem;
    width: 100%;
    background-color: darkcyan;
}