
:root {
    /* --main-green: #2daa80;
    --text-white: #e4e4e4;
    --main-dark: #10121e;
    --main
    --main-light: #c2c2c3; */
    /*👉--mint: #2FA98C;
    --dark-green: #06302B;
    --dark-dark-green: #032221;
    --pistachio: #AACBC4;
    --stone: #707D7D;👈*/
    --black:  #021a1a;
    --white: #F1F7F6;

    --dark-blue: #132442;
    --blue: #3551A4;
    --mid-light-blue: #80A1F8;
    --light-blue: #7bcbcd;
    --neon: #D6E264;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Geneva, Verdana, sans-serif;

    /*👉background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuGxCC") repeat 0 0;

    ➡ background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><path d='M 50 0 L 0 0 0 50' fill='none' stroke='rgba(255,255,255,0.15)' stroke-width='1'/></svg>"); ⬅

    background-repeat: repeat;
    background-position: 0 0;
    background-color: var(--white);
    background-blend-mode: difference;
    animation: bg-scrolling-reverse .92s infinite;
    animation-timing-function: linear;👈*/

    background: url('./assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
/* @keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
} */



/* ================================================ HEADER */
header {
    height: 10rem;
    width: 100%;
    /* background-color: blue; */
    /* backdrop-filter: blur(5px); */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 4rem;
    padding-top: 1.5rem;
}

header .logo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header h1 {
    font-size: 5.75rem;
    color: var(--neon);
}



/* ================================================ MAIN - CHAT */
main {
    width: 80%;
    flex-grow: 1;
    /* border: 2px solid var(--stone); */
    background-color: var(--dark-blue);
    color: var(--white);
    backdrop-filter: blur(8px);
    margin: 0 auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

main #chat-area {
    width: 100%;
    flex-grow: 1;
    /* background-color: #10121e42; */
    /* backdrop-filter: blur(1px); */
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
    overflow-y: scroll;
}

#chat-area .query {
    /* display: block; */
    /* width: 60%; */
    width: fit-content;
    max-width: 55%;
    text-wrap: wrap;
    height: fit-content;
    padding: 1rem;
    background-color: var(--blue);
    color: var(--white);
    align-self: flex-end;
    border-radius: 1rem;
}

#chat-area .reply {
    width: fit-content;
    max-width: 85%;
    text-wrap: wrap;
    height: fit-content;
    /* background-color: chartreuse; */
    align-self: flex-start;
    display: flex;
    /* align-items: flex-start; */
    gap: 1rem;
    /* padding: 0.5rem 0; */
}

#chat-area .reply .profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0.25rem; */
    overflow: hidden;
}

#chat-area .reply .profile img {
    width: 100%;
    height: 100%;
}

#chat-area .reply .message {
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: var(--mid-light-blue);
    color: var(--pistachio);
    border-radius: 1rem;
}



/* ================================================ MAIN - INPUT */
main #input-area form {
    width: 100%;
    height: 4rem;
    /* background-color: darkorchid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

#input-area .input-box {
    display: flex;
    /* width: 95%; */
    flex-grow: 0.95;
    background-color: var(--light-blue);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
}

#input-area .input-box .input-field {
    width: 95%;
    height: 3rem;
    /* background-color: crimson; */
    padding-left: 1rem;
}

#input-area .input-box .input-field input {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--blue);
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
}

#input-area .input-box .input-field input::placeholder {
    color: var(--neon);
}

#input-area .clear-btn-div {
    width: 4rem;
}


.circle-btn {
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    align-items: center;
    background-color: var(--blue);
    color: var(--neon);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ================================================ MAIN - SUGGEST BLOCKS */

/* more specific req cuz otherise overidden by normal styles, can also use !imporant instead of this */
main #suggest-blocks.hidden,
main #chat-area.hidden {
    display: none;
}

main #suggest-blocks {
    /* border: 2px solid blue; */
    position: absolute;
    width: 100%;
    height: calc(100% - 4rem);
    /* display: inline-block; */
    z-index: 100;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 5rem;
}

#suggest-blocks .title {
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

#suggest-blocks .title h2 {
    color: var(--light-blue);
}

#suggest-blocks .title h3 {
    color: var(--mid-light-blue);
}

#suggest-blocks .cards {
    width: 100%;
    /* background-color: darksalmon; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
}

#suggest-blocks .cards .card {
    height: 12rem;
    padding: 2rem;
    background-color: var(--blue);
    color: var(--pistachio);
    border-radius: 1rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#suggest-blocks .cards .card .icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--neon);
    color: var(--mid-light-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
}

/* ================================================ FOOTER */
footer {
    height: 2rem;
    width: 100%;
    /* background-color: rgba(63, 63, 63, 0.257); */
    color: var(--neon);
    font-size: 0.8rem;
    backdrop-filter: blur(3px);
    padding: 0.5rem;
    text-align: center;
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: var(--neon);   
}